/* work sens font by google */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Open+Sans:wght@400;800&family=Work+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300&display=swap');


* {
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* header section */

header {
    height: 130px;
    background-color: rgb(240, 214, 214);

}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_header {
    color: rgb(223, 80, 127);
    margin-left: 10px;
}

.nav_section {
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gamer_img {
    height: 40px;
    width: 80px;

}

.follow_btn>img {
    height: 24px;
    width: 24px;
    margin-left: 10px;
}

.follow_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 24px;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.contact_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_section>li {
    margin-left: 20px;
    list-style: none;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}


/* banner section */

.banner_secition {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.banner_header {
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.banner_GOAT {
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    text-align: center;
    color: #ee44a7;
    margin-top: -40px;
}

.banner_content {
    margin-top: -90px;
}

.banner_content>p {
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    text-align: left;

}

.banner_content>div>p>img {
    height: 24px;
    width: 24px;
    margin-right: 5px;
}

.img_content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.sg_btn {
    top: 617px;
    left: 420px;
    padding: 21px 40px;
    border-radius: 48px;
    gap: 10px;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    text-align: left;

}

#sign_in {
    background-color: #db3d9f;
    border: none;
}

#go_rogue {
    background-color: #4EC5F7;
    border: none;
}

.group_img {
    margin-top: 30px;
}

.group_img>img {
    height: 446px;
}

.background_img {
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    padding: 70px;
}

.banner_content,
.img_content {
    justify-content: left;
}

/* banner section 2 */
.banner_section2 {
    height: 600px;
    width: 100%;
}

.banner2_img {
    width: 50%;
    padding-left: 40px;
}

.banner2_img>img {
    width: 800px;
    height: 489px
}

.banner2_content {
    width: 50%;
    text-align: right;
    padding: 100px;
}

.banner2_content>button {
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 48px;
    background-color: #db3d9f;
    color: whitesmoke;
    border: none;
}

.banner_section2 {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.gamer_content {
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    text-align: right;
    color: #F948B2;
}

/* card section  */
.card_section {
    margin: 0px 240px;
}

.card_header {
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

#span_funny {
    color: #F948B2;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.card_paragraph {
    text-align: center;
    margin-top: -20px;
}

.card_img_section {
    height: 350px;
    width: 300px;
    padding: 10px;
}

.card_img_section>img {
    width: 250px;
    height: 300px;
    border-radius: 16px;
}

.card_img {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#play {
    height: 100px;
    width: 100px;
    position: relative;
    top: -250px;
    left: 70px;
    display: none;
}

.card_img_section:hover #play {
    display: block;
    background-color: rgba(214, 228, 93, 0.671);
    cursor: pointer;
}

.card_img_section:hover {
    box-shadow: 0px 0px 5px 5px rgb(65, 121, 109);
    border-radius: 10px;
}

/* no download */
.no_download {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download_content {
    width: 50%;
    margin: 100px 200px;
    padding: 10px;
}

.download_img {
    width: 50%;
    margin: 70px;
    position: relative;
}

.download_img>img {
    width: 500px;
    height: 500px;
}

#girl_img {
    height: 300px;
    width: 300px;
    position: absolute;
    left: -200px;
    bottom: -100px;
}

#play_content {
    color: #F948B2;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
}

/* play game  */

#girl_img2 {
    height: 300px;
    width: 300px;
    position: absolute;
    right: -200px;
    bottom: -50px;
}

/* careers secition  */
.careers {
    background-color: #db3d9f;
    height: 550px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.careers_container {
    display: flex;
}

.careers_content {
    width: 50%;
    color: whitesmoke;
    padding: 60px;
}

.img_div {
    width: 50%;
}

.img_div>img {
    width: 100%;
}

.careers_p {
    display: flex;
}

.career_heading {
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
}

.careers_div1 {
    text-align: left;
    padding: 10px;
}

.careers_div2 {
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
}

/* image role section  */

.gaming_role {
    height: 300px;
    width: 100%;
}

.img_1 {
    display: flex;
    justify-content: center;
}

.img_1_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0px 10px;
    padding: 7px;
}

.img_1_content:hover {
    border: 1px solid tomato;
    border-radius: 25px;
    color: #db3d9f;
    cursor: pointer;
}

.img_2 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* footer section  */

.footer_section {
    height: 536px;
    width: 100%;
    background-color: rgba(11, 2, 35, 1);
}

#footer_header {
    color: whitesmoke;
}

.footer_content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    gap: 60px;
}

.footer_content>p {
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.footer_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 56px;
}

.footer_icon>img {
    width: 40px;
    height: 40px;
}
.tarms_and_privacy{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 64px;
    gap: 60px;
}
.footer{
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    margin-top: 18px;
}





@media screen and (max-width:576px) {
   
}